/* Example styling of a h1 element */
h1 {
  color: #555555;
  font-family: Arial;
  font-size: 12mm;
}
body {
  margin-top: 20mm;
  margin-left: 30mm;
  margin-right: 30mm;
  margin-bottom: 30mm;
}
p {
  color: #555555;
  font-family: Arial;
}
a {
  color: #555555;
  font-family: Arial;
}